__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
build/
dist/
.env
.venv
env/
venv/
ENV/
.envrc
.pytest_cache/
.ruff_cache/
.DS_Store
*.log
*.sqlite3
tarot.db
*.db
*.db-journal
*.pdm.toml
.pdm-python
.pdm-build/
.ipynb_checkpoints
site/
